.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

:root {
    --gold: #c0a756;
    --gray: #777777;
    --white: #ffffff;
    --black: #000000;
}

.h100 {
    height: 100%;
}

.w100 {
    width: 100%;
}

.text-decoration-none{
    text-decoration: none;
}