/* header section start */

#header {
    position: absolute;
}

.navbar {
    background: #000000bb;
    padding: 17px 0px;
}

.nav-menu {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.nav-menu li a {
    padding: 0px 20px;
    color: var(--white);
    text-decoration: none;
    transition: all .3s ease;
}

.nav-menu li :hover {
    color: var(--gold)
}

/* header section end */


/* Slider section start */

.slider {
    position: relative;
}

.slide {
    background-image: url(../img/silder1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 65px 0;
}

.slc-logoIntro {
    margin-top: 30px;
}

.slc-welcomeText {
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.slc-decoration {
    margin: 30px 0;
}

.slc-mini-text {
    font-size: 20px;
    font-family: 'Libre Baskerville', serif;
    margin: 20px 0;
}

/* Slider section end */

/* About section start */

#about {
    padding: 60px 0;
}

.about-decLine-left {
    margin-left: 74px;
}

.about-decLine-right {
    margin-right: 74px;
}

.about-headerText {
    font-size: 26px;
    color: var(--black);
}

.about-explanation {
    font-style: italic;
    font-size: 17px;
    color: var(--gray);
    margin: 49px 0 79px 0;
    line-height: 26px;

}

.about-explanation p {
    text-align: center;
}

.abh-header {
    color: var(--gold);
    font-family: 'Great Vibes', cursive;
    font-size: 55px;
    margin-bottom: 27px;
}

.abh-header h3 {
    font-weight: 100;
}

.abh-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--gray);
    line-height: 32px;
}

.abh-text p b {
    color: var(--gold)
}

.abh-decoration {
    margin: 58px 0;
}

.about-photo-right {

    max-width: 500px;
}

.about-photo-left {

    max-width: 530px;
}

/* About section end */


/* Opening hours section start */

#opening-hours {
    margin-top: 50px;
}

.timetable {
    background-image: url(../img/opening_hours.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 6px 0 36px 0;
}

.tt-header h3 {
    font-size: 39px;
    font-family: "Oswald", sans-serif;
    font-weight: 700;
}

.tt-item {
    color: var(--gold);
    font-family: 'Yellowtail', cursive;
    font-size: 24px;
}

.tt-time {
    text-align: center;

}

.tt-time h6 {
    color: var(--gold);
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    font-weight: 100;
}

.tt-time span {
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.tt-column img {
    margin: 20px 0;
}

.tt-contact span {
    font-family: "Oswald", sans-serif;
    font-size: 14px;
}

/* Opening hours section end */

/* Menu section start */

#menu {
    color: black;
    background-image: url(../img/menu_left.jpg),url(../img/menu_right.jpg);
    background-repeat: no-repeat;
    background-position: top left, top right;
    padding: 55px 40px 93px 40px;
}

.menu-header {
    text-align: center;
    color: #ad9037;
    font-family: "Oswald", sans-serif;
    font-size: 22px;
}

.menu-logo img{
    margin-bottom: 55px;
}

.menu-list ul {
    list-style: none;
}

.menu-list ul li {
    padding: 19px 39px 0 0;
}

.ingredient {
    color: #676562;
    font-size: 14px;
}

.price {
    color: var(--gold);
    font-style: italic;
    float: right;
}

.menu-line-left{
    width: 94%;
    margin: 32px 0 0 20px;
}

.menu-line-right{
    margin: 29px 0 0 0;
    width: 102%;
}

.btn{
    border: 2px solid var(--gold);
    font-size: 18px;
    padding: 19px 30px;
    color: #ad9037;
    transition: .5s ease;
    background-color: var(--white);
    text-transform: uppercase;
    font-family: 'Cabin';
}

.btn:hover {
    background-color: var(--gold);
    color: var(--white)
}

/* Menu section end */

/* Testimonials section start */

#testimonials{
    background-image: url(../img/testimonials.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 54px 0;
}

.testimonials-header{
    text-align: center;
    color: #bfa760;
    font-family: "Oswald", sans-serif;
    font-size:25px;
}

.testimonials-decoration{
    font-family: 'Bitter', serif;
    font-weight: 700;
    font-size: 72px;
    color: #bfa760;
}

.testimonials-item{
    color: #e2e9ed;
    font-size: 25px;
    line-height: 42px;
    margin-left: 20px;
}

.testimonials-author{
    color: var(--gold);
    font-style: italic;
    font-size: 20px;
    margin: 25px 0 0 20px;
}

.testimonials-click-circle{
    padding: 2px;
    border: 2px solid var(--gold);
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin: 3px;
}


.testimonials-click-circle :hover{
    border: 2px solid var(--gold);
    background-color: var(--gold);
}

/* Testimonials section end */