/* Home Page Start */

/* header section start */

#home-header {
    position: absolute;
    z-index: 2;
}

.home-navbar {
    background: #000000bb;
}

.home-nav-menu li a {
    color: var(--white);
}

.home-nav-menu li :hover {
    color: var(--gold)
}

.other-navbar {
    background: white;
    box-shadow: 0 1px 3px rgb(0 0 0 / 11%);
    position: fixed;
    z-index: 2;
}

.other-nav-menu li a {
    color: var(--gray);
}


/* header section end */


/* Slider section start */

.slide-background img{
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
}

.slc-logoIntro {
    margin-top: 30px;
}

.slc-welcomeText {
    font-size: 37px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.slc-decoration {
    margin: 30px 0;
}

.slc-mini-text {
    font-size: 20px;
    margin: 20px 0;
}

/* Slider section end */

/* About section start */

.about-header-text {
    color: var(--black);
}

.abh-header {
    color: var(--gold);
    font-size: 55px;
    margin-bottom: 27px;
}

.abh-header h3 {
    font-weight: 100;
}

.abh-text {
    font-size: 17px;
    font-weight: 400;
    color: var(--gray);
    line-height: 32px;
}

.abh-text p b {
    color: var(--gold)
}

.abh-decoration {
    margin: 58px 0;
}

.about-photo-right {

    max-width: 500px;
}

.about-photo-left {

    max-width: 530px;
}

/* About section end */


/* Opening hours section start */

.timetable {
    background-image: url(../img/opening_hours.jpg);
}

.tt-header h3 {
    font-size: 39px;
    font-weight: 700;
}

.tt-item {
    color: var(--gold);
    font-size: 24px;
}

.tt-time h6 {
    color: var(--gold);
    font-size: 40px;
    font-weight: 100;
}

.tt-time span {
    font-size: 40px;
    font-weight: 700;
}

.tt-column img {
    margin: 20px 0;
}

.tt-contact span {
    font-size: 14px;
}

/* Opening hours section end */

/* Menu section start */

#menu {
    color: black;
    background-image: url(../img/menu_left.jpg), url(../img/menu_right.jpg);
    background-position: top left, top right;
}

.menu-header {
    color: var(--dark-gold);
    font-size: 22px;
}

.menu-logo img {
    margin-bottom: 55px;
}

.menu-list ul {
    list-style: none;
}

.menu-list ul li {
    padding: 19px 39px 0 0;
}

.meal {
    color: var(--black);
}

.ingredient {
    color: var(--gray);
    font-size: 14px;
}

.price {
    color: var(--gold);
    font-style: italic;
    float: right;
}

.btn-menu-box {
    margin: 40px 0;
}

.btn-menu-box::before {
    content: url(../img/menu_title_line.png);
}

.btn-menu-box::after {
    content: url(../img/menu_title_line.png);
}


.btn-menu {
    border: 2px solid var(--gold);
    font-size: 18px;
    padding: 19px 30px;
    color: var(--dark-gold);
    transition: .5s ease;
    background-color: var(--white);
    text-transform: uppercase;
    margin: 0 23px;
    cursor: pointer;
}

.btn-menu:hover {
    background-color: var(--gold);
    color: var(--white)
}


/* Menu section end */

/* Testimonials section start */

#testimonials {
    background-image: url(../img/testimonials.jpg);
}

.testimonials-header {
    color: var(--gold);
    font-size: 25px;
}

.testimonials-decoration {
    font-weight: 700;
    font-size: 72px;
    color: var(--gold);
}

.testimonials-item {
    color: var(--white);
    font-size: 25px;
    line-height: 42px;
    margin-left: 20px;
}

.testimonials-author {
    color: var(--gold);
    font-style: italic;
    font-size: 20px;
    margin: 25px 0 0 20px;
}

.testimonials-click-circle {
    padding: 2px;
    border: 2px solid var(--gold);
    border-radius: 50%;
    height: 5px;
    width: 5px;
    margin: 3px;
}


.testimonials-click-circle :hover {
    border: 2px solid var(--gold);
    background-color: var(--gold);
}

/* Testimonials section end */

/* Contact section start */

#contact {
    background: var(--light-black);
}

.contact-header-text {
    color: var(--white);
}

.contact-form {
    border: none;
    padding: 26px;
    margin: 20px;
    background-color: #2C2A2A;
    font-size: 17px;
    color: #4b4747;
}

.contact-form-message {
    padding: 0;
    height: 88%;
    margin-top: 20px 0 0 0;
}

.btn-contact {
    font-size: 22px;
    padding: 21px 56px;
    color: var(--white);
    transition: .5s ease;
    background-color: var(--gold);
    border: none;
    margin-top: 36px;
}

.btn-contact:hover {
    background-color: var(--white);
    color: var(--gold)
}

/* Contact section end */


/* Footer section start */

#footer {
    background: var(--light-black);
}

.socical-icons span {
    border: none;
    background-color: #3D3C38;
    color: var(--white);
    border-radius: 50%;
    padding: 12px 16px;
    margin: 6px;
    font-size: 30px;
    transition: all .5s ease;
}

.socical-icons a:hover span {
    background-color: var(--gold);
}

/* Footer section end */

/* Home Page end */


/* Menu Page Start */

.category-header::before {
    content: url(../img/menu_title_line.png);
}

.category-header::after {
    content: url(../img/menu_title_line.png);
}

.category-header h2 {
    font-weight: 400;
    color: #887025;
    font-size: 51px;
    margin: 0 23px;
}

.category-item {
    color: #bfa760;
    font-size: 23px;
}

.category-image {
    margin-bottom: 24px;
}

/* Menu Page end */


/* Gallery Page start */

#gallery {
    background-color: var(--light-black);
}

.gallery-header-text {
    color: var(--white);
}

.gallery-navbar ul li {
    list-style: none;
}

.gallery-navbar li a {
    text-decoration: none;
    color: var(--white);
    margin: 0 25px;
    padding: 5px 0;
    transition: all .3s step-end;
}

.gallery-photos {
    display: grid;
    grid-template-columns: auto auto auto;
}

.gallery-photo {
    position: relative;
}

.gallery-photo img {
    width: 100%;
    height: 100%;
}

.gallery-navbar ul li:hover a{
    border-bottom: 2px solid var(--gold);
}

.overlay {
    position: absolute;
    background: rgba(0, 0, 0, .7) url(../img/zoom.png) no-repeat center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    transition: all .5s ease;
    cursor: pointer;
}

.gallery-photo:hover .overlay {
    display: block;
}

/* Gallery Page end */