<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta1/css/bootstrap.min.css" />
    <title>Admin</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-collapse">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/create_book" class="choose-btn nav-link">Create Book</a>
                    </li>
                    <li class="nav-item">
                        <a href="/show" class="choose-btn nav-link">Show Book</a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin" class="choose-btn nav-link">Admin</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <table class="table ">
                    <thead>
                        <tr>
                            <th scope="col">Book Name</th>
                            <th scope="col">Author</th>
                            <th scope="col">Year</th>
                            <th scope="col">Number</th>
                            <th scope="col">Summary</th>
                            <th scope="col">Delete</th>
                            <th scope="col">Update</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in Books %}
                        <tr>
                            <td>{{book.Name}}</td>
                            <td>{{book.Author}}</td>
                            <td>{{book.Year}}</td>
                            <td>{{book.Number}}</td>
                            <td>{{book.Summary}}</td>
                            <td><button class="btn btn-primary"><a href="/delete/{{book.id}}" class="choose-btn">Delete</a></button></td>
                            <td><button class="btn btn-primary"><a href="/update/{{book.id}}" class="choose-btn">Update</a></button></td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>