{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary" >Add About skill</h3>
<div class="col-12  ">
<form action="/admin/aboutskill" method='POST'>
    <input type="text" class="form-control my-2" name="skill_name">
    <input type="submit" class="btn btn-primary btn-lg" value="Add  about skill">
    <hr>
</form>
</div>
<hr>
<div class="col-12">
<h3 class="text-warning"> Skill</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>Skill name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    </table>
    <tbody>
        {% for skill in skills %}
  
        <tr>
            <td>
            <td class="text-primary" scope="row">{{skill.id}}</td>
            <td class="text-primary">{{skill.skill_name}}</td>
 
            <td>
                <a href="/admin/aboutskilldelete/{{skill.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/aboutskillupdate/{{skill.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
     </div>
   </div>
</div>


{% endblock %}

