{% extends "admin/base.html" %}

{% block content %}
<div class="container-sm">
<hr>
<h3 class="text-primary">Hobby Update</h3>
<form action="/admin/hobbyupdate/{{hobby.id}}" method='POST'>
<input type="text" class="form-control my-2" name="hobby_icon_name" placeholder=" icon" value="{{hobby.hobby_icon_name}}">
<input type="text" class="form-control my-2" name="hobby_icon" placeholder="icon " value="{{hobby.hobby_icon}}">
<input type="text" class="form-control my-2" name="hobby_desc" placeholder="desc " value="{{hobby.hobby_desc}}">
<input type="submit" class="btn btn-primary btn-lg" value=" Hobby   Update">
<hr>
</form>
</div>

{% endblock %}