{% extends "admin/base.html" %}

{% block content %}
<div class="container-sm">
<hr>
<h3 class="text-primary">Contact  Icon Update</h3>
<form action="/admin/iconupdate/{{endicon.id}}" method='POST'>
<input type="text" class="form-control my-2" name="ct_icon_name" placeholder="heading" value="{{endicon.ct_icon_name}}">
<input type="text" class="form-control my-2" name="ct_icon" placeholder="heading" value="{{endicon.ct_icon}}">    
<input type="text" class="form-control my-2" name="ct_heading" placeholder="heading" value="{{endicon.ct_heading}}">
<input type="text" class="form-control my-2" name="ct_desc" placeholder="sub heading" value="{{endicon.ct_desc}}">
<input type="text" class="form-control my-2" name="ct_link" placeholder="sub heading" value="{{endicon.ct_link}}">
<input type="text" class="form-control my-2" name="ct_txt" placeholder="sub heading" value="{{endicon.ct_txt}}">
<input type="submit" class="btn btn-primary btn-lg" value=" Contact  Icon Update">
<hr>
</form>
</div>

{% endblock %}