{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
    <hr>
    <div class="row">
    <h3 class="text-primary">Add Offer  </h3>
    <div class="col-12">
<form action="/admin/offer" method='POST'>
    <input type="text" class="form-control my-2"name="offer_icon_name"placeholder="icon name  ">
    <input type="text" class="form-control my-2"name="offer_icon"placeholder="icon">    
    <input type="text" class="form-control my-2"name="offer_back_icon"placeholder="offer back icon ">   
    <input type="text" class="form-control my-2"name="offer_heading"placeholder="heading ">  
    <input type="text" class="form-control my-2"name="offer_desc"placeholder=" desc ">  
    <input type="submit" class="btn btn-primary btn-lg" value="Add Offer">
<hr>
</form>
<hr>
<div class="col-12">
<h3 class="text-warning">  Offer</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning" >id</th>
            <th class="text-warning" > icon name </th>
            <th class="text-warning" > icon </th>
            <th class="text-warning" > back_icon </th>
            <th class="text-warning" > heading</th>
            <th class="text-warning" > desc</th>
            <th class="text-warning" >Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for offer in offers %}

        <tr>
            <td  class="text-primary"  scope="row">{{offer.id}}</td>
            <td class="text-primary" >{{offer.offer_icon_name}}</td>
            <td class="text-primary" >{{offer.offer_icon}}</td>
            <td class="text-primary" >{{offer.offer_back_icon}}</td>
            <td class="text-primary" >{{offer.offer_heading}}</td>
            <td class="text-primary" >{{offer.offer_desc}}</td>
            <td>
                <a href="/admin/offerdelete/{{offer.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/offerupdate/{{offer.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
    </div>
</div>
</div>


{% endblock %}