{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
    <hr>
    <div class="row">
    <h3 class="text-primary">Add social icon </h3>
    <div class="col-12">
<form action="/admin/social" method='POST'>
    <input type="text" class="form-control my-2"name="social_icon_name"placeholder="icon name">
    <input type="text" class="form-control my-2"name="social_icon"placeholder="icon ">    
    <input type="text" class="form-control my-2"name="social_icon_url"placeholder="link">       
    <input type="submit" class="btn btn-primary btn-lg" value="Add Social Icon">
<hr>
</form>
<hr>
<div class="col-12">
<h3 class="text-warning"> Social Icon</h3>
<table class="table">
    <thead>
        <tr>
            <th class="text-warning" >id</th>
            <th class="text-warning" > icon name </th>
            <th class="text-warning" > icon </th>
            <th class="text-warning" > icon link</th>
            <th class="text-warning" >Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    <tbody>
        {% for social in socials %}

        <tr>
            <td  class="text-primary"  scope="row">{{social.id}}</td>
            <td class="text-primary" >{{social.social_icon_name}}</td>
            <td class="text-primary" >{{social.social_icon}}</td>
            <td class="text-primary" >{{social.social_icon_url}}</td>
            <td>
                <a href="/admin/socialdelete/{{social.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/socialupdate/{{social.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
    </div>
</div>
</div>


{% endblock %}