{% extends "admin/base.html" %}

{% block content %}
<div class="container bg-dark bg-gradient">
<hr>
<div class="row">
<h3 class="text-primary" >Add Testimional img</h3>
<div class="col-12  ">
<form action="/admin/testiimg" method='POST'enctype="multipart/form-data">
    <input type="file" class="form-control my-2" name="testimional_img">
    <input type="submit" class="btn btn-primary btn-lg" value="Add  testimional  img">
    <hr>
</form>
</div>
<hr>
<div class="col-12">
<h3 class="text-warning"> Testimional img</h3>
<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>testimional_img</th>
            <th>Actions</th>
        </tr>
    </thead>
    <hr>
</div>
<div class="col align-self-end">
    </table>
    <tbody>
        {% for test in tests %}

        <tr>
            <td>
            <td class="text-primary" scope="row">{{test.id}}</td>
            <td class="text-primary">{{test.testimional_img}}</td>
 
            <td>
                <a href="/admin/testiimgdelete/{{test.id}}"> <i class="fas fa-trash-alt"></i></a>
                <a href="/admin/testiimgupdate/{{test.id}}"> <i class="fas fa-edit"></i></a>
            </td>
        </tr>

        {% endfor %}
    </tbody>
</table>
     </div>
   </div>
</div>


{% endblock %}

