.flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-start {
    justify-content: flex-start;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.align-items-center {
    align-items: center;
}

.text-align-center {
    text-align: center;
}

.h100 {
    height:100%;
}

.w100 {
    width: 100%;
}

.text-decoration-none{
    text-decoration: none;
}


/* Colors */
:root {
    --white: #ffffff;
    --dark-blue: #1b2945;
    --black: #000000;
    --red: #DE322E;
    --yellow:#F7C22B;
}

/* Button */

.btn{
    border-radius: 3em;
    border: none;
    background-color: var(--yellow);
    color: var(--black);
    font-weight: 700;
    transition: .5s ease;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--red);
    color: var(--white);
}

