/* header section start */

#header {}

.top-bar {
    color: #9f9fa7;
    font-size: 13px;
}

.contact-info {
    padding: 20px 0;
}

.contact-info-icon {
    color: #01a2a6;
    margin-right: 11px;
}

.social-links {
    padding: 20px 0;
    color: #9f9fa7;
}

.social-links span {
    margin-right: 14px;
}

.nav-bar {
    padding: 28px 0;
}

.nav-menu {
    list-style: none;
    font-size: 14px;

}

.nav-menu li a {
    text-decoration: none;
    color: #3D3D47;
    font-weight: 600;
    transition: all .3s ease;
}

.nav-menu li :hover {
    color: #01A2A6;
}

.search {
    color: black;
}

/* header section end */

/* slider section start */


.slide {
    background-image: url(../img/slide1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 150px 0;
}

.slide-text {
    font-size: 30px;
    color: white;
    margin-left: 50px;
}

.slide-text h2 {
    width: 45%;
    font-weight: 100;
}

.button-row {
    margin-top: 33px;
    margin-left: 50px;
}

.btn {
    outline: none;
    padding: 12px;
    border-radius: 50px;
    font-size: 11px;
    background: none;
    border: 3px solid white;
    color: white;
    width: 80%;
}

.btn:hover{
    border: 3px solid tomato;
    color: white;
    background-color: tomato;
}

/* slider section end */