/* header section start */

#header {
    position: absolute;
}

.navbar {
    background: #000000db;
    padding: 17px 0px;
}

.nav-menu {
    list-style: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.nav-menu li a {
    padding: 0px 20px;
    color: white;
    text-decoration: none;
    transition: all .3s ease;
}

.nav-menu li :hover {
    color: #c0a756;
}

/* header section end */


/* Slider section start */

.slider {
    position: relative;
}

.slide {
    background-image: url(../img/silder1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 65px 0;
}

.slc-logoIntro {
    margin-top: 30px;
}

.slc-welcomeText {
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.slc-decoration {
    margin: 30px 0;
}

.slc-mini-text {
    font-size: 20px;

    font-family: 'Libre Baskerville', serif;
    margin: 20px 0;
}

/* Slider section end */

#about {
    padding: 60px 0;
}

.about-decLine-left {
    margin-left: 74px;
}

.about-decLine-right {
    margin-right: 74px;
}

.about-headerText {
    font-size: 26px;
    color: #383733;
}

.about-explanation {
    font-style: italic;
    font-size: 17px;
    color: #777777;
    margin: 49px 0 79px 0;
    line-height: 26px;

}

.about-explanation p {
    text-align: center;
}

.abh-header {
    color: #c0a756;
    font-family: 'Great Vibes', cursive;
    font-size: 55px;
    margin-bottom: 27px;
}

.abh-header h3 {
    font-weight: 100;
}

.abh-text {
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    line-height: 32px;
}

.abh-text p b {
    color: #c0a756;
}

.abh-decoration {
    margin: 58px 0;
}

.about-photo-right {

    max-width: 500px;
}

.about-photo-left {

    max-width: 530px;
}