/* header section start */

#header {
    color: white;
    position: absolute;
    width: 100%;
}

.navbar{
    background: #000000db;
    padding: 17px 0px;
}

.navbar-logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav{
   height: 100%;
}

.nav-menu{
    height: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.5px;
}

.nav-menu li a{
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    transition: all .3s ease;
}

.nav-menu li :hover{
    color: #c0a756;
}

/* header section end */

/* Slider section start */

.slider{
   position: relative;
}

.slide{
    background-image: url(../img/silder1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 65px 0;
}

.slide-choose-left{
    height: 100%;
    display: flex;
    align-items: center;
}

.slide-choose-right{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.slide-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slc-logoIntro{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.slc-welcomeText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Oswald', sans-serif;
    font-size: 37px;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.slc-decoration{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.slc-mini-text{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: white;
    font-family: 'Libre Baskerville', serif;
    width: 100%;
    margin: 20px 0;
}

/* Slider section end */

#about{
    padding: 60px 0;
}

.about-header{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-decLine-left{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 74px;
}

.about-decLine-right{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 74px;
}

.about-headerText{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cabin";
    font-size: 26px;
    color: #383733;
}

.about-explanation{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Cabin";
    font-style: italic;
    font-size: 17px;
    color: #777777;
    margin: 49px 0 79px 0;
    line-height: 26px;

}

.about-explanation p{
    text-align: center;
}

.abh-header{
    display: flex;
    color: #c0a756;
    font-family: 'Great Vibes', cursive;
    font-size: 55px;
    justify-content: center;
    margin-bottom: 27px;
}

.abh-header h3{
    font-weight: 100;
}

.abh-text{
    font-family: "Cabin", sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: #777777;
    line-height: 32px;
}

.abh-text p b{
    color: #c0a756;
}

.abh-decoration{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 58px 0;}

.about-photo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.about-photo-right{
    
    max-width: 500px;
}

.about-photo-right img{
    width: 100%;
}

.about-photo-left{
    
    max-width: 530px;
}

.about-photo-left img{
    width: 100%;
}
